@{
    string path = Model.ContentItem.Content.Team.Logo.Paths != null ? (string)Model.ContentItem.Content.Team.Logo.Paths[0] : "";
    var imageUrl = "";
    if (path != null)
    {
        imageUrl = Orchard.AssetUrl(path, 128, 128, OrchardCore.Media.Processing.ResizeMode.Pad);
    }
}
<article class="article col">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="@imageUrl" alt="@Model.ContentItem.Content.DisplayText" />
        </div>
        <div class="col-12 col-md-8">
            @await DisplayAsync(Model.Header)

        </div>
    </div>

</article>