@using System.Text.Json.Nodes
@using System.Linq;
@using Newtonsoft.Json.Linq
@{
    string taxonomyItemId = Model.TaxonomyItemId;
    ContentItem taxItem = await Orchard.GetContentItemByIdAsync(taxonomyItemId);
    JArray terms = (JArray)taxItem.Content.TaxonomyPart.Terms;
    
}
<section id="teams-carousel" class="splide" aria-labelledby="carousel-heading">
    <div class="splide__track">
        <ul class="splide__list">
            @foreach(var item in terms.ToObject<List<ContentItem>>())
            {
                string link = item.Content.Team.WikipediaPage != null ? item.Content.Team.WikipediaPage.Url ?? "#" : "#";
                string path = item.Content.Team.Logo.Paths != null ? (string)item.Content.Team.Logo.Paths.First : "";
                var imageUrl = "";
                if(path != null)
                {
                   imageUrl =  Orchard.AssetUrl(path, 128, 128, OrchardCore.Media.Processing.ResizeMode.BoxPad);

                }
                <li class="splide__slide text-center">
                    <a href="@link" target="_blank">
                        <img src="@imageUrl" alt="">
                        <p>@item.DisplayText</p>
                    </a>
                </li>
            }
           
        </ul>
    </div>
</section>